.App {
  text-align: center;
}

.gradient_background {
  height: 100vh; /* Set the height to cover the full viewport height */
  background: linear-gradient(to bottom, #00000F, #0d0117, #040225, #00000F, #0d0117, #120220); /* Example gradient */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}


.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    display: inline-block;
    border-radius:50%;
    border:10px solid #00d8ff;

    animation-name:rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

.transparent-header {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  color: white;
  z-index: 1000;
  font-family: 'Open Sans', sans-serif; /* Open Sans font */
  font-weight: bold; /* Bold text */
  box-sizing: border-box; /* Ensure padding doesn't affect width/height */
}

.header-content {
  display: flex;
  align-items: center;
}

.title {
  font-size: 24px; /* Larger font size for the title */
  margin-right: 10px; /* Space between title and icon */
}

.icon {
  width: 64px; /* Set the width of the icon */
  height: 64px; /* Set the height of the icon */
  margin-left: 5%; /* Space between icon and navigation */
}

/* Additional styles for navigation items */
.transparent-header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.who_are_we_style {
}

.transparent-header nav ul li {
  display: inline;
  margin-right: 10px;
  cursor: pointer;
}

body {
  align-items: 'center';
  align-self: 'center';
  background: 'transparent';
  padding: -10px;
}

.Iam {
  font: normal 20px/50px Montserrat, sans-serif;
  padding: -50px;
  color: #ffffff;


  
}
.Iam p {
  height: 50px;
  float: left;
  margin-right: 0.3em;
}
.Iam b {
  float: left;
  overflow: hidden;
  position: relative;
  height: 50px;
  top: 40px;
}

.div-button {
  display: inline-block;
  padding: 10px 22px;
  background: radial-gradient(231.94% 231.94% at 50% 100%,#8a6cff 0,rgba(53,41,128,0) 25.24%),linear-gradient(180deg,rgba(243,238,255,0),rgba(243,238,255,.04)),rgba(147,130,255,.01);
  background-color: transparent;
  box-shadow: 0 0 0 0 rgba(16,0,51,.4), 0 2px 5px 0 rgba(16,0,51,.39), 0 8px 8px 0 rgba(16,0,51,.34), 0 19px 11px 0 rgba(16,0,51,.2), 0 34px 14px 0 rgba(16,0,51,.06), 0 53px 15px 0 rgba(16,0,51,.01), inset 0 0 12px 0 hsla(0,0%,100%,.08), inset 0 -8px 32px 0 #1e0d49;
  color: '#f4f0ff';
  text-align: center;
  border: 1px solid #3f3939;
  font-size: 15px;
  margin-left: 35%;
  border-radius: 25px;
  text-align: center;
  height: 20px;
  padding-top: 12px;
  width: 100px;
  font-weight: bold;
  cursor: pointer;
}

.Iam .innerIam {
  display: inline-block;


  /* color: linear-gradient(50deg,#714dff,#9c83ff 31.28%,#e151ff 77.97%,#fff759 95.64%); */
  background: -webkit-linear-gradient(50deg,#714dff,#9c83ff 31.28%,#e151ff 77.97%,#fff759 95.64%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;


/*animation*/
-webkit-animation:move 5s;
   -moz-animation:move 5s;
    -ms-animation:move 5s;
     -o-animation:move 5s;
        animation:move 5s;
/*animation-iteration-count*/
-webkit-animation-iteration-count:infinite;
   -moz-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
     -o-animation-iteration-count:infinite;
        animation-iteration-count:infinite;
/*animation-delay*/
-webkit-animation-delay:1s;
   -moz-animation-delay:1s;
    -ms-animation-delay:1s;
     -o-animation-delay:1s;
        animation-delay:1s;
}
@keyframes move{
0%  { top: 0px; }
20% { top: -50px; }
40% { top: -100px; }
60% { top: -150px; }
80% { top: -200px; }
}

@-webkit-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-moz-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-o-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}